fastapi
uvicorn
jinja2
sqlalchemy
aiofiles
python-multipart
websockets
wsproto
python-jose
passlib
bcrypt
email-validator
requests
itsdangerous
authlib
httpx
python-dotenv
fastapi-sso
markdown
bleach
psycopg2-binary
